.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-title {
  margin: 20px 0 100px 0;
}

.login-container {
  height: fit-content;
  padding: 0 0 40px 0;
  width: 400px;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 80%;
}

.login-submit {
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: #FF8E3C;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.login-arrow-submit {
  margin-left: 4px;
  font-size: 15px;
}
