.writer-side-bar > * {
  margin-bottom: 8px;
}

.writer-side-bar {
  position: relative;
}

.writer-sidebar-header {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 30px;
}

.writer-sidebar-logout-button {
  width: 96%;
  bottom: 0;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.writer-side-bar p {
  margin-left: 4px;
}
