.writer-side-bar .writer-grid > *:not(:first-child) {
  margin-bottom: 8px;
}

.writer-sidebar-header {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 30px;
}

.writer-grid {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 15px;
}

.writer-sidebar-logout-button {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  padding: 0 5px 0 5px;
  margin-bottom: 5px;
}

.writer-sidebar-logout-button .side-bar-card-conteiner{
  justify-content: center;
}

.writer-side-bar p {
  margin-left: 4px;
}

.writer-side-bar {
  margin: 0 70px 0 0;
}
