.project-card-container {
  display: block;
  text-decoration: none;
  margin: 20px 10px;
}

.project-card-container:hover {
  text-decoration: underline;
}

.project-name {
  margin-bottom: 5px;
  font-weight: 400;
  color: black;
}

.project-description {
  color: #9B9B9B;
}
