.home-post-project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.posts-main {
  margin-left: 40px;
  width: 48vw;
  position: relative;
}

.posts-main .custom-loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.projects-contacts-container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
