.home-post-project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.posts-main {
  margin-left: 40px;
  width: 48vw;
}

.projects-contacts-container {
  display: flex;
  flex-direction: column;
}
