.post-card-container {
  height: fit-content;
  width: 100%;
  margin: 30px 0 0 0;
  padding-bottom: 15px;
  border-bottom: 1px #C7C7C7 solid;
}

.post-card-container:hover .post-card-title,
.post-card-container:hover .post-card-description {
  text-decoration: underline;
}

.home-post-link-redirect {
  text-decoration: none;
}

.post-card-title {
  margin: 10px 0;
  font-weight: 500;
  color: #000000;
}

.post-card-description {
  color: #9B9B9B;
  margin-bottom: 20px;
  font-weight: 400;
}
